.contact__title {
  margin-bottom: 10px;
}

.contact-information {
  padding: 10px;
  padding-top: 0;
  margin-bottom: 30px;
  border-bottom: 2px solid #de423a;
}

.contact-informtion .column__title {
  font-family: "Pacifico", cursive;
  font-weight: 100;
}

.contact-information .social-icon {
  justify-content: flex-start;
  margin-bottom: 10px;
}

.contact-information .social-icon [class*="fa-"] {
  background: black;
  color: white;
  margin-left: 0;
  margin-right: 15px;
  margin-top: 3px;
}

.formulario {
  padding: 10px;
  padding-top: 0;
}

.formulario__label,
.formulario__input-txt,
.formulario__textarea {
  display: block;
  width: 100%;
}

.formulario__input-txt {
  padding: 10px;
  margin-bottom: 10px;
}

.formulario__textarea {
  min-height: 200px;
  min-width: 100%;
  max-width: 100%;
  max-height: 200px;
}

.formulario__btn {
  border: none;
  cursor: pointer;
  font-size: 1em;
}

/* Responsive */
@media screen and (min-width: 480px) {
  .contact .container--flex {
    align-items: flex-start;
  }

  .contact-information p {
    font-size: 0.75em;
  }

  .contact-information {
    border-right: 2px solid #de423a;
    border-bottom: none;
  }
}

@media screen and (min-width: 768px) {
  .contact-information p {
    font-size: 1em;
  }

  .contact-information .column__title {
    font-size: 1.5em;
  }

  .contact-information .social-icon {
    margin-top: 30px;
  }
}
